<!doctype html>
<head>
<meta charset="utf-8">
<title>Taskbook</title>
<link rel="stylesheet" type="text/css" href="/css/loginstyle.css" />
</head>

<body>
<form id="slick-login">
	<script type="text/javascript">
    function LoginForm(){
        window.location='/tasks';
    }
</script>
<label for="username">username</label><input type="text" name="username" class="placeholder" placeholder="weare@awesome.com">
<label for="password">password</label><input type="password" name="password" class="placeholder" placeholder="password">
<input type="submit" value="Log In" onclick="LoginForm">
</form>

	<div>
        <img src="images/tblogo.png" class="logo">
    </div>

</body>
</html>