
.fleft{
    float:left;
    margin-left: 5px;
    margin-right: 5px;
}

.buttoncenter{
    margin-top:10px
}

.fright{
    float:right;
    margin-right: 5px;
    margin-left: 5px;
}

.logo{
    position: absolute;
    margin:  0 auto;
    width: 100%;
    text-align: center;
}

.logotext{
    width: 120px;
}

.groupTitle{
    padding-left: 2.5%;
    padding-right: 2.5%;
    width:inherit;
    height:50px;
    text-align: center;
}

.groupTitleText{
    position:absolute;
    text-align: center;
    text-overflow:ellipsis;
    margin-top: 15px;
    font-size: 20px;
    width:100%;
    height:inherit;
    overflow: hidden;


}

.groupTitleText h2{
    font-size: 20px;
}


.groupBtn{
    width: 10px;
    text-align: center;
    padding-left: 15px;
    padding-right:15px;
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
    background-repeat: repeat;

}

.groupBtnIcon{

    right:7px;

}
.navbar{
    margin-bottom: 2px;
}



.pin{
    margin-top:3px
}

.list{
    padding-left: 2.5%;
    padding-right:2.5%;
}